.popover-product {
    position: absolute;
    left: -109px;
    top: calc(100% + 10px);
    display: flex;
    width: 218px;
    padding: 8px;
    background-color: #fff;
    border-radius: 8px;
    z-index: 1;
    opacity: 0;
    transform: scale(0);

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 10px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px transparent;
        left: calc(50% + 2px);
        top: -9px;
    }
}
.active {
    visibility: visible;
    background: rgba(255, 255, 255, 0.9);
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.thumb {
    width: 30%;
    object-fit: cover;
    border: 1px solid #ececec;
}

.text {
    width: 70%;
    font-size: 13px;
    font-weight: 700;
    padding-left: 12px;

    .title {
        color: #000;
        padding-bottom: 4px;
    }

    .price {
        color: var(--orange-color);
    }
}
