.container {
    margin-top: 40px;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    .title {
        padding-bottom: 20px;
    }
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 4px;
        background-color: #252a2b;
    }
}

.account-form {
    max-width: 500px;
    margin: auto;
}

.input-wrapper {
    input {
        width: 100%;
        height: 55px;
        padding: 5px 10px;
        border: 1px solid #d4d6d8;
        color: #1e2d7d;
        outline: none;
        font-size: 1.5rem;
    }
}

.input-wrapper + .input-wrapper {
    margin-top: 30px;
}

.recaptcha {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #9e9e9e;
    a {
        color: #2962ff;
    }
}

.submit-btn {
    height: 42px;
    margin-bottom: 10px;
}

.secondary-action {
    text-align: left;
    margin-top: 14px;
    font-size: 1.4rem;
    color: #677279;

    a {
        color: var(--orange-color);
    }
}
