.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

.loader {
    display: block;
    margin: auto;
    &:after {
        content: ' ';
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 6px solid var(--orange-color);
        border-color: var(--orange-color) transparent;
        animation: lds-dual-ring 1.2s ease-in-out infinite;
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
