.submenu {
}
.sub-item {
    // padding: 9px 18px;
    .icon {
        position: absolute;
        font-size: 1rem;
        line-height: 0.5;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
        transition: all 0.15s ease-in-out;
    }
    &:hover .icon {
        right: 10px;
        transition: all 0.15s ease-in-out;
    }

    &:hover .item-link {
        color: var(--orange-color);
    }
}
.sub-item + .sub-item {
    border-top: 1px solid #efefef;
}
.item-link {
    font-size: 1.5rem;
    color: #000;
    opacity: 0.85;
    display: block;
    padding: 9px 18px;
}
.level-2 {
    position: absolute;
    left: 100%;
    top: 20px;
    width: 100%;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
}
.hasSubmenu {
    position: relative;
    &:hover .level-2 {
        visibility: visible;
        top: 0;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
