.container {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 600px;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.field + .field {
    margin-top: 15px;

    .value {
    }
}

.label {
    font-size: 1.5rem;
}
.fieldName {
    input {
        height: 30px;
        width: 100%;
        font-size: 1.5rem;
        padding: 15px 8px;
        border-radius: 4px;
        border: 1px solid #ededed;
        outline: none;
    }
}
.fieldCategory {
}
.fieldImage {
    .value {
        display: flex;
    }
    .list-image {
        display: flex;
        overflow-x: scroll;
        max-width: 500px;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            // width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #e1e3e4;
            border-radius: 10px;
        }
    }
    .upload {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        height: 80px;
        border: 1px solid #ededed;
        cursor: pointer;
        border-radius: 4px;
        .icon {
            font-size: 3.5rem;
            overflow: hidden;
            height: 100%;
        }
    }
    .image {
        height: 80px;
        margin-right: 4px;
        border: 1px solid #ededed;
        position: relative;

        img {
            height: 100%;
        }

        .remove {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;

            &:hover {
                background-color: rgba(204, 202, 202, 0.6);
                opacity: 1;
            }

            span {
                opacity: 1;
            }
        }
    }
}
.fieldPrice {
    input {
        width: 150px;
        height: 30px;
        font-size: 1.5rem;
        padding: 15px 8px;
        border-radius: 4px;
        border: 1px solid #ededed;
        outline: none;
    }
    .label {
        margin-left: 4px;
    }
}
.fieldStock {
    .label {
        margin-left: 4px;
    }
    .value {
        margin-left: 20px;
        margin-bottom: 10px;
        position: relative;
    }
    span {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    input {
        margin-left: 30px;
        width: 60px;
        height: 30px;
        font-size: 1.5rem;
        padding: 15px 8px;
        border-radius: 4px;
        border: 1px solid #ededed;
        outline: none;
    }
    
}

.fieldDescription {
    .input {
        width: 100%;
        height: 200px;
        outline: none;
        border-radius: 4px;
        border: 1px solid #ededed;
        padding: 8px 8px;
        font-size: 1.5rem;
    }
}

.submit {
    input {
        padding: 10px 20px;
        font-size: 1.5rem;
        border-radius: 4px;
        border: 1px solid #ededed;
        background-color: rgb(33, 154, 144);
        color: #fff;
        cursor: pointer;
    }
}
