.primary {
    font-size: 1.3rem;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 1px solid var(--orange-color);
    z-index: 1;
    color: var(--primary);
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1px;
        right: 0;
        background-color: var(--orange-color);
        z-index: -1;
        transform: scaleX(1);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        transform-origin: 0%;
    }

    &:hover {
        color: var(--orange-color);
    }

    &:hover:before {
        transform: scaleX(0);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        transform-origin: 100%;
    }
}

.primaryReverse {
    font-size: 1.3rem;
    color: var(--orange-color);
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 1px solid var(--orange-color);
    z-index: 1;
    color: var(--orange-color);
    background-color: var(--orange-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1px;
        right: 0;
        background-color: var(--primary);
        z-index: -1;
        transform: scaleX(1);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        transform-origin: 0%;
    }

    &:hover {
        color: var(--primary);
    }

    &:hover:before {
        transform: scaleX(0);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        transform-origin: 100%;
    }
}

.basic {
    color: var(--text-color);
    width: 50%;
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #fff;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 12px 15px;

    &:hover {
        color: var(--orange-color);
        border-color: var(--orange-color);
        transition: all 0.3s ease-in-out;
    }
}
