header {
    --search-btn-color: #ed1c24;
    --search-border-radius: 4px;
    --midle-menu-width: 1170px;

    background-color: var(--primary);
    min-height: 152px;
    border-bottom: 1px solid #e7e7e7;
}
