.container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.heading {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 4px;
        background-color: #000;
    }
}
.wrapper {
    margin: auto;
    width: var(--content-pc-width);
    display: flex;
    justify-content: center;
}
.sidebar {
    width: 25%;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

.list-item {
    .item {
        list-style-type: circle;
        font-size: 1.5rem;
        margin-bottom: 10px;

        a {
            &:hover {
                color: var(--orange-color);
            }
        }
    }
}

.content {
    flex: 1;
}
