.menu {
    background-color: #fff;
    position: relative;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-bottom: 1px solid #ededed;
    // border-top: 1px solid #ededed;
    .active {
        color: var(--orange-color);
        font-weight: bold;
    }

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 2px;
        background-color: #ededed;
    }
}
.menu-sticky {
    background-color: #222;
    .active {
        color: var(--primary);
    }
    .menu-item {
        color: var(--primary);
    }

    &:before {
        visibility: hidden;
    }
}

.menu-item {
    padding: 12px 6px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    position: relative;
    letter-spacing: 0.75px;

    &:before {
        content: '';
        position: absolute;
        background-color: #000;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0px;
        transform: scaleX(0);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.5s;
        transform-origin: 100%;
    }

    &:hover:before {
        transform: scaleX(1);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        transform-origin: 0%;
    }

    .icon {
        font-size: 1rem;
        line-height: 0.5;
        margin-left: 8px;
        transform: rotate(-180deg);
        transition: transform 0.2s;
    }
    &:hover .icon {
        transform: rotate(0deg);
        transition: transform 0.2s;
    }
}

.submenu-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    visibility: hidden;
    top: calc(100% + 20px);
    opacity: 0;
    z-index: 1;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 6px 15px rgb(0 0 0 / 20%);
}
.has-submenu {
    position: relative;
    &:hover .submenu-wrapper {
        visibility: visible;

        top: calc(100%);
        opacity: 1;
        transition: top 0.3s ease-in-out;
    }
}
