.container {
    display: flex;
}

// Sidebar
.sidebar {
    width: 20%;
    min-height: 100vh;
    background-color: rgb(214, 214, 214);
}

.sidebar-list {
    .sidebar-item {
        font-size: 1.7rem;
        font-weight: 700;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: #666;
        }
        .icon-nav {
            margin-right: 10px;
        }
    }
}

.dashboard {
}
.product {
    position: relative;
    transition: padding-bottom 0.3s ease-in-out;
    overflow: hidden;
    .wrapper-text {
        display: flex;
    }
    .text {
    }

    .icon {
        position: absolute;
        right: 30px;
    }

    .product-nav-list {
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: 10px;

        .item {
            padding: 10px 40px;

            &:hover {
                background-color: #555;
            }
        }
    }
}

.openSubnav {
    padding-bottom: 100px !important;
    transition: all 0.3s ease-in-out;
}

//
.content {
    flex: 1;
    // background-color: #ccc;
}
