.search {
    display: flex;
    border-radius: var(--search-border-radius);
    // overflow: hidden;
    position: relative;
    max-width: 480px;
    flex: 1;

    input {
        font-size: 1.4rem;
        padding: 15px 50px 15px 50px;
        border: 1px solid #ededed;
        color: var(--text-color);
        border-radius: var(--search-border-radius);
        width: 100%;
    }
    input:focus-visible {
        outline: none;
        border-color: var(--orange-color);
    }

    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        color: var(--orange-color);
    }
    // .search-btn {
    //     position: absolute;
    //     top: 0px;
    //     right: 0;
    //     height: 100%;
    //     width: 52px;
    //     border: none;
    //     color: var(--primary);
    //     opacity: 1;
    //     border-radius: inherit;
    //     font-size: 1.6rem;
    //     background-color: var(--orange-color);
    //     cursor: pointer;
    // }
    // .search-btn:focus {
    //     opacity: 0.8;
    // }

    .wrap-tippy {
        width: 100%;
    }
}
.form-search {
    width: 100%;
    border-radius: var(--search-border-radius);
}
.search-result {
    background-color: #fff;
    width: 480px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.wrap-item-result {
    position: relative;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px dotted #dfe0e1;
}

.title {
    .name {
        font-size: 1.5rem;
        color: var(--orange-color);
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .price {
        font-size: 1.5rem;
    }
}

.thumb {
    position: absolute;
    width: 15%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;

    img {
        height: 100%;
        border: 1px dotted #ccc;
    }
}

.more {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: auto;
    color: var(--orange-color);
    padding: 10px 0;
    cursor: pointer;
    opacity: 1;
    &:hover {
        // background-color: #ccc;
        opacity: 0.6;
    }
}

.no-item-show {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 16px 0;
    font-size: 1.5rem;
}
