.container {
    background: #222;
    border-top: 1px solid #ebecf0;
    color: var(--primary);
    padding: 20px 0;
}
.footer-content {
    display: flex;
    justify-content: center;
}
.widget-wrapper {
    width: 1170px;
}

.widget {
    padding: 0 15px;
}

.title {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 14px 0;
}

.content {
    display: flex;
    font-size: 1.5rem;
}

.logo {
    margin-top: 10px;
}

.text-about {
    padding-right: 15px;
}

.address {
    padding-left: 15px;
}

.list-item {
    padding: 0 15px;
}
.item {
    list-style-type: disc;
    &::marker {
        color: #323232;
    }
    .link {
        cursor: pointer;
        color: #fff;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--orange-color);
            transition: color 0.3s ease-in-out;
        }
    }
}
.btns {
    margin: 50px 0 25px;
    display: flex;
    justify-content: center;
}
.btn {
    position: relative;
    text-align: center;
    width: 150px;
    padding: 15px;
    margin: 0 15px;
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    transition: 0.5s ease-in-out;
    border-radius: 4px;
    color: #fff;

    svg {
        position: absolute;
        fill: none;
        stroke: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1px;
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 0.5s ease-in-out;
    }

    &:hover {
        transition: 1s ease-in-out;
        background: #4f95da;
    }
    &:hover svg {
        stroke-dashoffset: -480;
    }
}

.copyright {
    background: #333;
    padding: 10px 0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    .link {
        color: #fff;
    }
}
